<div class="criarSessao">
        <center><b>Criar sessão</b></center><br>
        <form id="sessao">
            <div class="field padding-bottom--15">
              <label for="filme">Filme:</label>
              <input type="filme" name="filme">
            </div>
            <div class="field padding-bottom--15">
        <label for="horario">Horário:</label>
            <input type="time" id="horario" name="horario">
        </div>
        <div class="field field-checkbox padding-bottom--15 flex-flex align-center">
            <label for="checkbox">
              <input type="checkbox" name="3d"> &nbsp Filme em 3D
            </label>
          </div> 
        <label for="idioma">Idioma:</label>
            <select id="appearance-select" class="field" name="idioma">
                <option value="Dublado"> &nbsp Dublado</option>
                <option value="Legendado"> &nbsp Legendado</option>
                <option value="Nacional"> &nbsp Nacional</option>
            </select><br>
        <div class="field padding-bottom--15">
        <br><label for="sala">Sala:</label>
            <input type="text" id="sala" size="15%" name="sala">
        </div>
        <div class="field padding-bottom--15">
            <input type="submit" name="submit" value="Criar">
          </div>
      </form>
    </center>
</div>
