.lugar{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px;
    text-decoration: none;
    margin: 4px;
    border-radius: 25px;
    cursor: pointer;
  }
  .selecionado{
    background-color: #00ccff;
    border: none;
    color: white;
    padding: 16px;
    text-decoration: none;
    margin: 4px;
    border-radius: 25px;
    cursor: pointer;
  }
  .ocupado{
    background-color: #787f81;
    border: none;
    color: white;
    padding: 16px;
    text-decoration: none;
    margin: 4px;
    border-radius: 25px;
  }
  .tela{
    background-color: #c4c4c4;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 400px;
  }