<style> 
.lugar{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px;
    text-decoration: none;
    margin: 4px;
    border-radius: 25px;
  }
  .button:active{
    background-color: #f10000;
    border: none;
    color: white;
    padding: 16px;
    text-decoration: none;
    margin: 4px;
    border-radius: 25px;
    cursor: pointer;
  }
  .selecionado{
    background-color: #00ccff;
    border: none;
    color: white;
    padding: 16px;
    text-decoration: none;
    margin: 4px;
    border-radius: 25px;
    cursor: pointer;
  }
    </style>

<div class="lugares">
    <table>
          <tr>
            <th><input type="button" class="lugar" value="A01"></th>
            <th><input type="button" class="lugar" value="B01"></th>
            <th><input type="button" class="lugar" value="C01"></th>
            <th><input type="button" class="lugar" value="D01"></th>
            <th><input type="button" class="lugar" value="E01"></th>
          </tr>
          <tr>
            <th><input type="button" class="lugar" value="A02"></th>
            <th><input type="button" class="lugar" value="B02"></th>
            <th><input type="button" class="lugar" value="C02"></th>
            <th><input type="button" class="lugar" value="D02"></th>
            <th><input type="button" class="lugar" value="E02"></th>
          </tr>
          <tr>
            <th><input type="button" class="lugar" value="A03"></th>
            <th><input type="button" class="lugar" value="B03"></th>
            <th><input type="button" class="lugar" value="C03"></th>
            <th><input type="button" class="lugar" value="D03"></th>
            <th><input type="button" class="lugar" value="E03"></th>
          </tr>
          <tr>
            <th><input type="button" class="lugar" value="A04"></th>
            <th><input type="button" class="lugar" value="B04"></th>
            <th><input type="button" class="lugar" value="C04"></th>
            <th><input type="button" class="lugar" value="D04"></th>
            <th><input type="button" class="lugar" value="E04"></th>
          </tr>
          <tr>
            <th><input type="button" class="lugar" value="A05"></th>
            <th><input type="button" class="lugar" value="B05"></th>
            <th><input type="button" class="lugar" value="C05"></th>
            <th><input type="button" class="lugar" value="D05"></th>
            <th><input type="button" class="lugar" value="E05"></th>
          </tr>
          <tr>
            <th><input type="button" class="lugar" value="A06"></th>
            <th><input type="button" class="lugar" value="B06"></th>
            <th><input type="button" class="lugar" value="C06"></th>
            <th><input type="button" class="lugar" value="D06"></th>
            <th><input type="button" class="lugar" value="E06"></th>
          </tr>
        </table>
</div>
