<style> 
.lugar{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px;
    text-decoration: none;
    margin: 4px;
    border-radius: 25px;
    cursor: pointer;
  }
  #lsd{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px;
    text-decoration: none;
    margin: 4px;
    border-radius: 25px;
    cursor: pointer;
  }
  .selecionado{
    background-color: #00ccff;
    border: none;
    color: white;
    padding: 16px;
    text-decoration: none;
    margin: 4px;
    border-radius: 25px;
    cursor: pointer;
  }
    </style>

<div class="lugares">
    <table>
          <tr>
            <th><div id="A01" class="lugar" onclick="myFunction(id='A01')">A01</div></th>
            <th><div id="B01" class="lugar" onclick="myFunction(id='B01')">B01</div></th>
            <th><div id="C01" class="lugar" onclick="myFunction(id='C01')">C01</div></th>
            <th><div id="D01" class="lugar" onclick="myFunction(id='D01')">D01</div></th>
            <th><div id="E01" class="lugar" onclick="myFunction(id='E01')">E01</div></th>
          </tr>
          <tr>
            <th><div id="A02" class="lugar" onclick="myFunction(id='A02')">A02</div></th>
            <th><div id="B02" class="lugar" onclick="myFunction(id='B02')">B02</div></th>
            <th><div id="C02" class="lugar" onclick="myFunction(id='C02')">C02</div></th>
            <th><div id="D02" class="lugar" onclick="myFunction(id='D02')">D02</div></th>
            <th><div id="E02" class="lugar" onclick="myFunction(id='E02')">E02</div></th>
          </tr>
          <tr>
            <th><div id="A03" class="lugar" onclick="myFunction(id='A03')">A03</div></th>
            <th><div id="B03" class="lugar" onclick="myFunction(id='B03')">B03</div></th>
            <th><div id="C03" class="lugar" onclick="myFunction(id='C03')">C03</div></th>
            <th><div id="D03" class="lugar" onclick="myFunction(id='D03')">D03</div></th>
            <th><div id="E03" class="lugar" onclick="myFunction(id='E03')">E03</div></th>
          </tr>
          <tr>
            <th><div id="A04" class="lugar" onclick="myFunction(id='A04')">A04</div></th>
            <th><div id="B04" class="lugar" onclick="myFunction(id='B04')">B04</div></th>
            <th><div id="C04" class="lugar" onclick="myFunction(id='C04')">C04</div></th>
            <th><div id="D04" class="lugar" onclick="myFunction(id='D04')">D04</div></th>
            <th><div id="E04" class="lugar" onclick="myFunction(id='E04')">E04</div></th>
          </tr>
          <tr>
            <th><div id="A05" class="lugar" onclick="myFunction(id='A05')">A05</div></th>
            <th><div id="B05" class="lugar" onclick="myFunction(id='B05')">B05</div></th>
            <th><div id="C05" class="lugar" onclick="myFunction(id='C05')">C05</div></th>
            <th><div id="D05" class="lugar" onclick="myFunction(id='D05')">D05</div></th>
            <th><div id="E05" class="lugar" onclick="myFunction(id='E05')">E05</div></th>
          </tr>
          <tr>
            <th><div id="A06" class="lugar" onclick="myFunction(id='A06')">A06</div></th>
            <th><div id="B06" class="lugar" onclick="myFunction(id='B06')">B06</div></th>
            <th><div id="C06" class="lugar" onclick="myFunction(id='C06')">C06</div></th>
            <th><div id="D06" class="lugar" onclick="myFunction(id='D06')">D06</div></th>
            <th><div id="E06" class="lugar" onclick="myFunction(id='E06')">E06</div></th>
          </tr>
        </table>
</div>

<script>
function myFunction(id) {
   var element = document.getElementById(id);
   element.classList.toggle("selecionado");
}
</script>

