<div class="filtroSessao">
    <form onkeyup="filtrarFilmes(this)" onchange="filtrarFilmes(this)">
        
        <input name="nome" type="text" placeholder="Nome"/>
        <input name="genero" type="text" placeholder="Genero"/>
        
        <select name="classificacao">
            <option>Todos</option selected>
            <option>Livre</option>
            <option>10</option>
            <option>12</option>
            <option>14</option>
            <option>16</option>
            <option>18</option>
        </select>
        
        <select name="cartaz">
            <option>Todos</option>
            <option>Em Cartaz</option>
            <option>Fora de Cartaz</option>
        </select>
        
        <input name="sinopse" type="text" placeholder="Sinopse"/>
        
    </form>

</div>
