<div class="botoesADM">

  <div class="botaoADM" id="btnMostrarSessoes">
    <a href="javascript:bttShowSessoes()">
      <i class="bi bi-film iconsADM gde"></i>
    </a>
  </div>
  
  <div class="botaoADM" id="btnCriarSessao">
    <a href="javascript:bttAddSessao()">
      <i class="bi bi-file-earmark-plus iconsADM"></i>
    </a>
  </div>
  
  
  <div class="botaoADM" id="btnMostrarFilmes">
    <a href="javascript:bttShowFilmes()">
      <i class="bi bi-camera-reels iconsADM gde"></i>
    </a>
  </div>
  
  <div class="botaoADM" id="btnCriarFilme">
    <a href="javascript:bttAddFilme()">
      <i class="bi bi-plus-circle iconsADM"></i>
    </a>
  </div>

  <div class="botaoADM" id="btnMostrarUsuarios">
    <a href="javascript:bttShowUsuario()">
      <i class="bi bi-file-person iconsADM gde"></i>
    </a>
  </div>
  
  <div class="botaoADM" id="btnAdicionarUsuario">
    <a href="javascript:bttAddLogin()">
      <i class="bi bi-person-plus-fill iconsADM"></i>
    </a>
  </div>

</div>
