.botoesADM{
    background-color:#b69007;
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 700px;
    margin-right: 20px;
    border: 5px solid black;
    border-top-left-radius: 50% 7%;
    border-bottom-left-radius: 35% 7%;
}

.botaoADM{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15%;
    text-align: center;
}

.botaoADM ul ul {  
    position: absolute;  
    visibility: hidden;  
    top: 50%;  
}

.botaoADM ul li:hover ul {  
    visibility: visible;  
} 

.botaoADM ul li a {  
    width: 10px;  
    height: 50px;  
    display: block;   
}  

.botaoADM ul  
{  
    width: 210%;
     line-height: 0px;  
} 

.botaoADM li {  
    list-style: none;     
} 

.classific{
    width: 45px;  
    height: 45px;
}

.iconsADM{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 2.75rem;
}

.iconsADM:hover{
    font-size: 3rem;
}

.gde{
    font-size: 3rem;
}

.gde:hover{
    font-size: 3.25rem;
}
