.botoesADM{
    background-color:#b69007;
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 715px;
    margin-right: 5px;
    border: 5px solid black;
    border-top-left-radius: 50% 7%;
    border-bottom-left-radius: 35% 7%;
    line-height: 2.5;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 31px;
}

.botaoADM{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15%;
    text-align: center;
}

.botaoADM ul ul {  
    position: absolute;  
    visibility: hidden;  
    top: 50%;  
}

.botaoADM ul li:hover ul {  
    visibility: visible;  
} 

.botaoADM li a {  
    width: 10px;  
    height: 50px;  
    display: block;   
}  

.botaoADM li {  
    list-style: none;     
} 

.classific{
    width: 45px;  
    height: 45px;
}

.iconsADM{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 2.75rem;
}

.iconsADM:hover{
    font-size: 3rem;
}

.gde{
    font-size: 3rem;
}

.gde:hover{
    font-size: 3.25rem;
}
