<div class="botoesADM row">
  <div class="col-md-3 botaoADM">
    <a href="javascript:sel()">
      <img
        src="../../assets/imagens/card-list.png"
        alt="Card List"
        class="iconsADM"
      />
    </a>
  </div>

  <div class="col-md-3 botaoADM">
    <a href="javascript:test()">
      <img
        src="../../assets/imagens/plus-circle.png"
        alt="Card List"
        class="iconsADM"
      />
    </a>
  </div>

  <div class="col-md-3 botaoADM">
    <a href="javascript:loginADM()">
      <img
        src="../../assets/imagens/refresh-arrow.png"
        alt="Card List"
        class="iconsADM"
      />
    </a>
  </div>

  <div class="col-md-3 botaoADM">
    <a href="javascript:asd()">
      <img
        src="../../assets/imagens/x-square.png"
        alt="Card List"
        class="iconsADM"
      />
    </a>
  </div>
</div>
