<div class="botoesADM">

  <div class="botaoADM" id="btnMostrarSessoes">
    <a href="javascript:bttShowSessoes()">
      <i class="bi bi-film iconsADM gde"></i>
    </a>
  </div>
  
  <div class="botaoADM" id="btnCriarSessao">
    <a href="javascript:bttAddSessao()">
      <i class="bi bi-file-earmark-plus iconsADM"></i>
    </a>
  </div>
  
  
  <div class="botaoADM" id="btnMostrarFilmes">
    <a href="javascript:bttShowFilmes()">
      <i class="bi bi-camera-reels iconsADM gde"></i>
    </a>
  </div>
  
  <div class="botaoADM" id="btnCriarFilme">
    <a href="javascript:bttAddFilme()">
      <i class="bi bi-plus-circle iconsADM"></i>
    </a>
  </div>

  <div class="botaoADM" id="filtroClassificacao">
    <ul>    
      <li><a href="#"><i class="bi bi-app iconsADM gde"></i></a>    
      <ul>    
          <li><a href="javascript:filtroClassificacao(livre)"><img src="../../assets/imagens/L.png" class="classific"></a></li>    
          <li><a href="javascript:filtroClassificacao(10)"><img src="../../assets/imagens/10.png" class="classific"></a></li>
          <li><a href="javascript:filtroClassificacao(12)"><img src="../../assets/imagens/12.png" class="classific"></a></li>  
          <li><a href="javascript:filtroClassificacao(14)"><img src="../../assets/imagens/14.png" class="classific"></a></li>  
          <li><a href="javascript:filtroClassificacao(16)"><img src="../../assets/imagens/16.png" class="classific"></a></li>  
          <li><a href="javascript:filtroClassificacao(18)"><img src="../../assets/imagens/18.png" class="classific"></a></li>       
      </ul>  
  </div>

  <div class="botaoADM" id="filtro3d">
    <a href="javascript:filtro3d()">
      <i class="bi bi-badge-3d iconsADM gde"></i>
    </a>
  </div>

  <div class="botaoADM" id="fecharfiltro3d">
    <a href="javascript:fecharfiltro3d()">
      <i class="bi bi-badge-3d-fill iconsADM gde"></i>
    </a>
  </div>

  <div class="botaoADM" id="btnMostrarUsuarios">
    <a href="javascript:bttShowUsuario()">
      <i class="bi bi-file-person iconsADM gde"></i>
    </a>
  </div>
  
  <div class="botaoADM" id="btnAdicionarUsuario">
    <a href="javascript:bttAddLogin()">
      <i class="bi bi-person-plus-fill iconsADM"></i>
    </a>
  </div>
  

  <!-- <div class="botaoADM">
    <a href="javascript:asd()">
      <i class="bi bi-person-dash-fill iconsADM"></i>
    </a>
  </div> -->

</div>
